<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link href="https://www.highcharts.com/highslide/highslide.css" rel="stylesheet" />
        {% for stylesheet in stylesheets %}
            <link href="{{ stylesheet }}" rel="stylesheet" />    
        {% endfor %}
        {% for script in scripts %}
            <script type="text/javascript" src="{{ script }}"></script>    
        {% endfor %}
    </head>
    <body style="margin:0;padding:0">
        <div id="root" style="display:flex;flex-wrap:wrap;width:100%">
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function (){
                Highcharts.setOptions({{ theme }});
                
                {{ plots }}.forEach(function(plot, i){
                    var container = document.createElement("div")
                        container.setAttribute("id", "container-"+i)
                        container.style.width  = plot.width
                        container.style.height = plot.height
                    document.getElementById("root").appendChild(container)
                    Highcharts.chart("container-"+i, plot.chart)
                })
            });
        </script>
    </body>
</html>